* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
  
}
.header{
  display: none;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: rgb(170, 19, 19);
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #0b9c71;
}

main.container {
  padding-right: 40px;
  background-image: url("./logo.png");
  background-repeat:no-repeat;
  background-size: 80%;
  background-position: 40% 50%;
  height: 100vh;
  margin: 0;
}

main{
  align-items: center;
  justify-content: center;
}

main#panaderia{
  background-image: url("./panaderia.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
  
}

main#carniceria{
  background-image: url("./carniceriaMejor.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}
main#charcuteria{
  background-image: url("./quesosMejor.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}

main#pollera{
  background-image: url("./pollo.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}
main#dulceria{
  background-image: url("./CAKES.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}
main#gourmet{
  background-image: url("./gourmet.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}
main#pasteles{
  background-image: url("./pasteles.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}
main#pollo{
  background-image: url("./polloCarniceria.png");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}
main#embutidos{
  background-image: url("./embutidosMejor.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}

main#cerdo{
  background-image: url("./cerdo.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 100% 100%;
}

.header{
  text-align: center;
}
.titulos{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 50px;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.fondoprincipal {
  background-image: url("imagen/puestaDeSol.png");
     }

.parent {
  
      margin: 1rem;
      padding: 2rem 2rem;
      text-align: center;
      
 }
.child {
      display: inline-block;
      
      padding: 1rem 1rem;
      vertical-align: middle;
      
}
.links{
  color: black;
 
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin-top: 40px;
}
.departamento{
  font-size: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  align-items: left;
}
.departamento:hover{
  border-radius: 10px;
  background-color: #0b9c71;
}
#right-child{
  margin-left: 10.5em;
}

.listas{
  
}

.listaProductos{
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}
.producto{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 40px;
  margin-bottom: 40px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 80%;
  color: white;
}
.nombreProducto{
  
  display: block;
  text-align: left;
  background:rgba(0, 0, 0, 0.384);
  border-radius: 50px;
  padding: 10px;
  
}

.precioProducto{
  
  padding: 10px;
  align-items: center;
  background:rgba(0, 0, 0, 0.384);
  border-radius: 50px;
}


.embutidos{

}
.quesos{

}

.pastas{

}
.sopas{

}
.pollera{
  margin-bottom: 120px;
}
.panaderia{

}

.dulceria{

}

.carniceria{

}
.pollo{

}

.cerdo{

}

